body {
  margin: 0;
  width: 375px;
  height: 812px;
  position: relative;
  left: 50%;
  transform: translateX( -50% );
  /* border: 1px solid rgba(238, 237, 237, 0.961); */
}

.mobile-container {
  height: 812px;
  overflow: scroll;
  background-color: rgba(237, 237, 237, 0.899);
}

.mapboxgl-popup-close-button {
  font-size: 70px;
  color: white;
  text-shadow: 2px 2px gray;
}
.mapboxgl-popup-close-button > div {
  font-family: Roboto;
  font-size: 21px;
  width: 100%;
}
.mapboxgl-popup-close-button img{
  width: 100%;
}
.MuiCardMedia-root {
  background-size: 100% 100%;
}